* {
    outline: 3px solid red
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
}

body {
    padding 20px;
    box-sizing: border-box;
}

.container {
	height: 100%;
	width: 80%;
}

.top-menu {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.top-menu__box {
    width: 30%;
    height: 100%;
}

.one {
    background: #D0021B;
}

.two {
    background: #4A90E2;
}

.three {
    background: #4A4A4A;
}

.text {
    padding: 20px 0;
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    
}

.middle-menu {
	height: 30%;
	width: 100%;
}

.middle-menu__left {
	float: left;
	height: 100%;
	width: 35%;
}

.middle-menu__right {
	float: left;
	height: 100%;
	width: 65%;
}